<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Новый сотрудник</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div class="container-fluid my-3" style="width: 60%">
            <div class="card text-center">
                <div th:replace="fragments/BootstrapElements :: nav-fragment('employee')"></div>
                <div class="card-body">
                    <div th:replace="fragments/BootstrapElements::simple-text-field-with-value('fio', 'ФИО', '')"></div>
                    <div th:replace="fragments/BootstrapElements::simple-text-field-with-value('note', 'Примечание', '')"></div>
                    <div th:replace="fragments/BootstrapElements::simple-dropdown-list(${departmentsList}, 'Отдел', 'department', ${departmentDefault})"></div>
                    <div th:replace="fragments/BootstrapElements::simple-dropdown-list(${professionsList}, 'Профессия', 'profession', ${professionDefault})"></div>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary" id="createEmployee">Сохранить</button>
                        <button onclick="window.location = '/employee/getAll'" class="btn btn-secondary" id="employeesOpenButton">К списку сотрудников</button>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/general::footer"></div>
        <script th:src="@{/js/employee.js}" src="/static/js/employee.js"></script>
    </body>
</html>