<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Отдел</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div class="container-fluid my-3" style="width: 60%">
            <div class="card text-center">
                <div th:replace="fragments/BootstrapElements :: nav-fragment('department')"></div>
                <div class="card-body">
                    <div th:replace="fragments/BootstrapElements::simple-text-field-readonly-with-value('id', '№', ${department.getId()})"></div>
                    <div th:replace="fragments/BootstrapElements::simple-text-field-with-value('name', 'Наименование', ${department.getName()})"></div>
                    <div th:replace="fragments/BootstrapElements::simple-text-field-with-value('note', 'Примечание', ${department.getNote()})"></div>
                    <div th:replace="fragments/BootstrapElements::simple-dropdown-list(${departmentsList}, 'Родительский отдел', 'parentDepartment', ${parentDepartment})"></div>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary" id="saveEditDepartment">Сохранить</button>
                        <button onclick="window.location = '/department/getAll'" class="btn btn-secondary" id="departmentsOpenButton">К списку отделов</button>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/general::footer"></div>
        <script th:src="@{/js/department.js}" src="/static/js/department.js"></script>
    </body>
</html>